<main class="main">
  <div class="container">
    <img src="assets/logo.png" alt="YAML Editor Logo" class="app-logo" />

    <div class="load-section">
      <div class="load-file">
        <label for="file-upload" class="file-upload-button save-button"
          >Choose File</label
        >
        <input
          id="file-upload"
          type="file"
          (change)="onFileSelected($event)"
          accept=".yaml,.yml"
        />
      </div>
      <div class="load-url">
        <label for="url-input">Load from URL:</label>
        <input
          id="url-input"
          type="text"
          [(ngModel)]="yamlUrl"
          placeholder="Enter YAML URL"
        />
        <button
          (click)="loadFromUrl()"
          class="save-button"
          [disabled]="isLoadButtonDisabled"
        >
          Load
        </button>
      </div>
    </div>

    <app-error-modal
      [message]="errorMessage"
      [show]="showErrorModal"
      (close)="hideError()"
    ></app-error-modal>

    @if (parsedData && !showErrorModal) {
    <div class="editor-card" #editorCard>
      <div class="editor-header">
        <h2>{{ loadedFileName }}</h2>
      </div>
      <div class="form-container">
        <ng-container
          *ngTemplateOutlet="formTemplate; context: { data: parsedData }"
        ></ng-container>
      </div>
      <div class="editor-footer">
        <button class="secondary-button" (click)="closeForm()">Close</button>
        <button class="save-button" (click)="saveYaml()">Save</button>
      </div>
    </div>
    }
  </div>
</main>

<ng-template #formTemplate let-data="data">
  @for (key of objectKeys(data); track trackByFn($index, key)) {
  <div class="form-row">
    <div class="key-container">
      @if (editingKey !== key) {
      <span class="key-label">{{ key }}</span>
      <button class="edit-key-button" (click)="setEditingKey(key)">
        &#9998;
      </button>
      <button class="remove-button" (click)="removeRow(data, key)">
        &#10006;
      </button>
      } @else {
      <input
        type="text"
        [value]="key"
        (blur)="onKeyEdit($event, key, data)"
        class="key-input"
        autofocus
      />
      }
    </div>
    <div class="input-wrapper">
      @switch (typeof data[key]) { @case ('string') {
      <input type="text" [id]="key" [(ngModel)]="data[key]" />
      } @case ('number') {
      <input
        type="number"
        [id]="key"
        [(ngModel)]="data[key]"
        (ngModelChange)="data[key] = +$event"
      />
      } @case ('boolean') {
      <input type="checkbox" [id]="key" [(ngModel)]="data[key]" />
      } @case ('object') {
      <div class="nested-object">
        @if (data[key]) {
        <ng-container
          *ngTemplateOutlet="formTemplate; context: { data: data[key] }"
        ></ng-container>
        }
      </div>
      } }
    </div>
  </div>
  }
  <div class="add-row-container">
    <div class="add-row-template" (click)="toggleAddRowMenu(data)">
      <span class="plus-sign">+</span>
      @if (addRowMenuData === data) {
      <div class="add-row-menu">
        <button (click)="addRow('string')">String</button>
        <button (click)="addRow('number')">Number</button>
        <button (click)="addRow('boolean')">Boolean</button>
        <button (click)="addRow('object')">Object</button>
      </div>
      }
    </div>
  </div>
</ng-template>
